.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
      /* ✅ Ensure visible background */
    color: black;
    border: 1px solid black;
    margin: 15px;
    box-shadow: 5px 5px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    
    
    
  }
  .nav-links a:hover{
    border: solid;
  }
  .logo span{
    background-color: black;
    color:white;
  }
  .logo{
    border: solid;
  }

  