.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  text-align: center;
}

.signup-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.signup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 250px;
  padding: 10px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-btn img.logo-icon {
  width: 20px;
  height: 20px;
  
}
.logo-icon-facebook{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.logo-icon-apple{
  width: 20px;


}

.signup-btn.google {
  background-color: white;
  color: black;
  border: 1px solid;
  box-shadow: 5px 5px ;
}

.signup-btn.google:hover {
  background-color: #357ae8;
}

.signup-btn.facebook {
  background-color: #1877f2;
  color: white;
  box-shadow: 5px 5px #1877f2;
}

.signup-btn.facebook:hover {
  background-color: #155dbb;
}

.signup-btn.apple {
  background-color: black;
  color: white;
  border: solid 1px black;
  box-shadow: 5px 5px #333;

}

.signup-btn.apple:hover {
  background-color: #333;
}

.login-text {
  font-size: 0.9rem;
  color: #555;
}

.login-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.login-link:hover {
  color: #0056b3;
}